@media only screen and (max-width: 768px) {
    #userSection{
        display: none;
    }    
}

#login{
    background: url("../../images/login-bg.png");
    background-size: contain;
}

#usersList{
    height: 80% !important;
}